h1,
h2 {
    text-align: left;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.chef {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
}
.hello {
    text-align: center;
}
.flavor {
    font-weight: 550;
}
.list {
    background-color: hsla(240, 60%, 70%, 0.08);
}

.recipe,
.list {
    font-size: 20px;
}